/**************************************** start screen ************************/
.start-screen{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    z-index: 90;
    gap: 24px;
}
.start-image{
    width: 320px;
    height: 560px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.image-tip1{
    background-image: url(./img/tips/tip-1.png);
}
.image-tip2{
    background-image: url(./img/tips/tip-2.png);
}
.image-tip3{
    background-image: url(./img/tips/tip-3.png);
}
.image-tip4{
    background-image: url(./img/tips/tip-4.png);
}
.mask-box1 img, .mask-box2 img, .mask-box3 img{
    opacity: 0.68;
}
.mask-box1{
    transform: scale(3) translate(5px, 34px);
}
.mask-box2{
    transform: scale(3) translate(-70px, 45px);
}
.mask-box3{
    transform: scale(3) translate(-20px, 0);
}
.arrow-box-startscreen{
    top: 130px;
    left: -20px;
    position: absolute;
    z-index: 99;
}
#start-arrow{
    width: 200px;
    height: auto;
}
.arrow1{
    animation: arrowIn1 425ms forwards;
}
.arrow2{
    animation: arrowIn2 425ms forwards;
}
.arrow3{
    animation: arrowIn3 425ms forwards;
}
@keyframes arrowIn1 {
    0%{top: 135px; left: -200px;}
    100%{top: 135px; left: 10px;}
}
@keyframes arrowIn2 {
    0%{top: 180px; left: 200px; transform: rotate(180deg);}
    100%{top: 180px; left: 40px; transform: rotate(180deg);}
}
@keyframes arrowIn3 {
    0%{top: 30px; left: -200px;}
    100%{top: 30px; left: -25px;}
}
.tip-message-box{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80px;
    text-align: center;
    width: 70%;
    background-color: white;
    bottom: 10px;
    border-radius: 15px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    gap: 10px;
}
.start-loading-message{
    color: white;
    display: flex;
    gap: 5px;
    font-size: 20px;
}
.start-point-1{
    animation: appearDot1 2.5s infinite;
}
.start-point-2{
    animation: appearDot2 2.5s infinite;
}
.start-point-3{
    animation: appearDot3 2.5s infinite;
}
@keyframes appearDot1 {
    0%{opacity: 0;}
    24%{opacity: 0;}
    25%{opacity: 1;}
    1000%{opacity: 1;}
}
@keyframes appearDot2 {
    0%{opacity: 0;}
    49%{opacity: 0;}
    50%{opacity: 1;}
    1000%{opacity: 1;}
}
@keyframes appearDot3 {
    0%{opacity: 0;}
    74%{opacity: 0;}
    75%{opacity: 1;}
    1000%{opacity: 1;}
}
.next-tip-box{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.next-tip{
    font-size: 18px;
}
.next-tip:hover{
    color: grey;
    cursor: pointer;
}