/* ########################################## For Mobiles ########################### */
@media (max-width: 1050px){  
    .header-right-and-middle, .header-right, .header-maxwidth{
        gap: 50px;
    } 
    .logo{
        margin-left: 10px;
    }
    .type-header{
        transform: translateX(500px);
    }
}   
@media (max-width: 850px){  
    .header-right-and-middle, .header-middle, .header-right{
        flex-direction: column;
    }
    .burger-menu{
        display: flex;
    }
    .header-maxwidth{
        width: 95%;
    }
    .header-right-and-middle{
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        background-color: rgba(76, 61, 124, 0.9);
        gap: 50px;
        justify-content: center;
        transform: translateX(100vw);
        transition: all 225ms ease-in-out;
    }
    .logo{
        font-size: 60px;
    }
    .ready-header{
        display: none;
    }
    .search-input input, .goto input{
        width: 150px;
        height: 50px;
    }
    .type-header{
        transform: translateX(250px) scale(0.8);
    }
    .goto{
        justify-content: center;
    }
    .star-header{
        position: absolute;
        right: 23%;
        top: 24px;
    }
    .loaded-box{
        font-size: 2.5em;
    }
   .header-box{
    justify-content: flex-start;
   } 
}  
@media (max-width: 700px){  
     .type-header{
        transform: translateX(250px) scale(0.6);
    }
    .logo{
        font-size: 45px;
        margin-right: 15px;
    }
    .ball-box-header img{
        width: 45px;
    }
    .burger-menu{
        transform: scale(0.6);
        right: 10px;
        top: 20px;
    }
    .star-header{
        transform: scale(0.6);
        right: 20%;
        top: 24px;
    }
}
@media (max-width: 600px){  
    .ball-box-start, .start-line, .pokemone-start-imagebox{
        display: none;
    }
    .type-header{
        transform: translateX(150px) scale(0.6);
        width: 160px;
    }
    .logo{
        font-size: 30px;
        margin-right: 15px;
    }
    .start-screen-text{
        left: 20%;
        top: 50%;
        transform: translate(0, 0);
        font-size: 32px;
    }

}
@media (max-width: 500px){ 
    .logo{
        display: none;
    }
    .type-header{
        transform: translateX(50px) scale(0.5);
    }
    .ball-box-header{
        margin-left: 15px;
    }
}
@media (max-width: 360px){ 
    .type-header{
        transform: translateX(20px) scale(0.5);
    }
}
